<h1>Listing reserves</h1>

<table>
  <tr>
    <th>Movie</th>
    <th>Client</th>
    <th>Obs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reserves.each do |reserve| %>
  <tr>
    <td><%= reserve.movie %></td>
    <td><%= reserve.client %></td>
    <td><%= reserve.obs %></td>
    <td><%= link_to 'Show', reserve %></td>
    <td><%= link_to 'Edit', edit_reserf_path(reserve) %></td>
    <td><%= link_to 'Destroy', reserve, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reserve', new_reserve_path %>
